.box-toggle {
	margin:0 ;
	text-align:justify;
	font:12px/1.4 Arial, Helvetica, sans-serif;
	}
.box-toggle .tgl {margin-bottom:30px;}
.box-toggle span {
	display:block;
	cursor:pointer;
	font-weight:bold;
	font-size:16px;
	color:#00A3F4; 
	margin-top:15px;
	}